@model RazorPageTests.Pages.Shared.Components.Card.CardViewComponent.CardInfoModel

<div style="background-color: #f2f2f2; padding: 10px; border-radius: 5px; color:@Model.TitleFontColor">@Model.Title</div>